body {
  display: flex;
  justify-content: center;
  background-color: black;
}
.form {
  margin-top: 100px;
  background-color: rgb(194, 219, 225);
  height: 600px;
  width: 1200px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 16px 10px;
}
#login,
#register {
  background-color: #d1e5e8;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.field {
  position: relative;
  margin: 20px auto;
}

.field input {
  width: 300px;
  padding: 14px 20px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  fill: none;
  &:focus {
    outline: none;
    border: none;
  }
}

.field label {
  position: absolute;
  top: 14px;
  left: 20px;
  background-color: transparent;
  transition: all 0.3s ease;
  pointer-events: none;
  color: #555;
}

.field input:focus + label,
.field input:not(:placeholder-shown) + label {
  transform: translateY(-20px);
  font-size: 12px;
  background-color: #fff;
  padding: 0 5px;
  color: rgb(221, 129, 129);
  border-radius: 8px;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
form h2 {
  text-align: center;
  font-size: 32px;
}
form p {
  text-align: center;
}
.btn {
  padding: 10px 0;
  width: 100%;
  border-radius: 20px;
  border: none;
  background-color: #246179;
  color: rgb(195, 234, 198);
  font-size: 16px;
}

#register-msg h1,
#login-msg h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#login-error,
#register-error {
  color: rgb(198, 85, 85);
  font-size: 18px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
